body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #222;
  color: white;
  text-align: center;
  padding: 30px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #444;
}

footer {
  text-align: center;
  padding: 15px;
  background: #222;
  color: white;
}
